:root {
	--dark: #1f2937;
	--light: #f9faf8;
	--secondary: #e5e7eb;
	--bluebutton: #3882f6;
}

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	align-items: space-between;
	padding: 15px 15%;
}

.nav {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.logo {
	color: var(--light);
	font-size: 24px;
	font-weight: bold;
}

.hero {
	display: flex;
}

.hero-main {
	display: flex;
	font-size: 48px;
	font-weight: bold;
	color: var(--light);
}

.hero-secondary {
	font-size: 18px;
	color: var(--secondary);
}

.header img {
	background-color: var(--secondary);
}

ul {
	margin: 0;
	padding: 0;
	color: var(--secondary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--secondary);
}
