:root {
	--dark: #1f2937;
	--light: #f9faf8;
	--secondary: #e5e7eb;
	--bluebutton: #3882f6;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Open-sans", sans-serif;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: var(--dark);
	display: flex;
	flex-direction: column;
	align-items: space-between;
	padding: 15px 15%;
}

.nav {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.logo {
	color: var(--light);
	font-size: 24px;
	font-weight: bold;
}

.hero-wrapper {
	display: flex;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	margin: 90px 0;
	gap: 25px;
}

.hero-main {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.hero-title {
	font-size: 48px;
	font-weight: bolder;
	color: var(--light);
}

.hero-secondary {
	font-size: 18px;
	color: var(--secondary);
	padding-bottom: 15px;
}

.header img {
	background-color: var(--secondary);
	width: 500px;
	max-height: 300px;
	flex: 1 1 auto;
}

.header button {
	background-color: var(--bluebutton);
	border: none;
}

button {
	padding: 5px 25px;
	font-weight: bold;
	color: var(--secondary);
	border-radius: 5px;
}

ul {
	margin: 0;
	padding: 0;
	color: var(--secondary);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: var(--secondary);
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px 0;
	padding: 0 20%;
}

.title {
	font-size: 36px;
	font-weight: bolder;
	color: var(--dark);
}

.cards {
	margin-top: 35px;
	display: flex;
	gap: 10px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* flex: 0 1 auto; */
}

.subtext {
	text-align: center;
	padding-top: 10px;
}

.card img {
	padding: 0;
	margin: 0;
	border: 3px solid var(--bluebutton);
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.quote {
	background-color: var(--secondary);
	padding: 60px 20%;
	font-style:italic;
	font-weight: 100;
	font-size: 36px;
}

figcaption,
cite {
	text-align: right;
	font-style: normal;
	font-weight: 600;
}

.action-wrapper {
	margin: 36px 15%;
	/* display: flex; */
	justify-content: stretch;
	background-color: var(--bluebutton);
	border-radius: 5px;
}

.action {
	
}
